<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>
    <div class="pageheadline">
        <h1>Varukorg</h1>
    </div>
    <div class="shoppingcart-container">
        <div class="shoppingcart-continer">
            <% user.shoppingcart.forEach( (obj)=> { %>
            <div class="shoppingcart-innercontiner">
                <div class="product-img"> </div>
                <div class="shoppingcart-info">
                    <div class="shoppingcart-item ">Album: <%= obj.productId.album %> </div>
                    <div class="shoppingcart-item ">Artist: <%= obj.productId.artist %> </div>
                    <div class="shoppingcart-item ">Album ID: <%= obj.productId._id %> </div>
                    <div class="shoppingcart-item ">Pris: <%= obj.productId.price %> SEK</div>
                    <div class="shoppingcart-item ">Antal: <%= obj.quantity %></div>
                    <div class="shoppingcart-item "><a href="<%=ROUTE.removeFromCart%><%=obj.productId._id%>">Ta bort</a></div>
                    
                </div>
            </div>
            <% }); %>

        </div>
    </div>
    <div class="container">
        <div class="checkoutanderrorbutton">
            <a href="<%=ROUTE.checkout%>"><button>TILL CHECKOUT</button></a>
        </div>
    </div>
</main>
<%- include ("footer.ejs") %>