<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<script src="https://js.stripe.com/v3/"></script>
<script>
    const stripe = Stripe('pk_test_FvsSHpwPOD8mudVG4j9mPK3S00gDQPVwHY');
    document.querySelector('#buybtn').addEventListener('click', () => {
        stripe.redirectCheckout({
            sessionId: '<%=sessionId%>'
        })
    })
</script>
<main>
    <div class="pageheadline">
        <h1>Varukorg</h1>
    </div>
    <div class="shoppingcart-container">
        <div class="wishlist-shoppingcart-continer">
            <% userInfo.wishlist.forEach( (obj)=> { %>
            <div class="wishlist-shoppingcart-innercontiner">
                <div class="product-img"> </div>
                <div class="wishlist-shoppingcart-info">
                    <div class="wishlist-shoppingcart-item ">Album: <%= obj.productId.album %> </div>
                    <div class="wishlist-shoppingcart-item ">Artist: <%= obj.productId.artist %> </div>
                    <div class="wishlist-shoppingcart-item ">Album ID: <%= obj.productId._id %> </div>
                    <div class="wishlist-shoppingcart-item ">Pris: <%= obj.productId.price %> SEK</div>
                </div>
            </div>
            <% }); %>

        </div>
    </div>
    <div class="checkout-payment-container">
        <form action="" method="POST">
            <h2>Betalning</h2>
            <div class="checkout-user-container">
                <input type="number" placeholder="Kortnummer">
            </div>
            <h2>Leverans</h2>
            <div class="checkout-user-container">
                <label>Förnamn</label>
                <input type="text" name="fName" value="<%=userInfo.firstName%>" size=30>
            </div>
            <div class="checkout-user-container">
                <label>Efternamn</label>
                <input type="text" name="lName" value="<%=userInfo.lastName%>" size=30>
            </div>
            <div class="checkout-user-container">
                <label>Adress</label>
                <input type="text" name="address" value="<%=userInfo.address%>" size=30>
            </div>
            <div class="checkout-postal">
                <div class="postal-city">
                    <label>Stad</label>
                    <input type="text" name="city">
                </div>
                <div class="postal-code">
                    <label>Postnummer</label>
                    <input type="text">
                </div>
                <div>
                    <label>E-mail</label>
                    <input type="email" name="email" value="<%=userInfo.email%>">
                </div>
            </div>
            <div class="checkout-button">
                <button id="buybtn" type="submit">BESTÄLL</button>
            </div>
        </form>
    </div>
</main>
<%- include ("footer.ejs") %>