<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>
    <div class="container">
        <div class="pageheadline">
            <h2 class="my-3"><%= errmsg %></h2>
        </div>

        <div class="checkoutanderrorbutton">
            <a href="<%=ROUTE.index%>"><button>HEM</button></a>
            <a href="<%=ROUTE.gallery%>"><button>WEBSHOP</button></a>
            <a href="<%=ROUTE.userAccount%>"><button>MIN PROFIL</button></a>
            <a href="<%=ROUTE.login%>"><button>LOGGA IN</button></a>
            <a href="<%=ROUTE.createuser%>"><button>BLI MEDLEM</button></a>
            <a href="<%=ROUTE.admin%>"><button>ADMIN</button></a>
        </div>
    </div>
</main>
<%- include ("footer.ejs") %>